* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.class_Border {
  border: 1px solid black;
  overflow: scroll;
}
.class_container1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(122, 211, 225);
}
.class_gmail {
  border: 1px solid rgb(105, 97, 97);
  width: 4%;
  height: 80px;
  background-color: rgb(65, 65, 232);
  border-radius: 100px;
  margin-inline: 20px;
  margin-top: 5px;
}
.class_symbol {
  color: white;
  padding: 12px 24px;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.class_navbar {
  display: flex;
  font-size: larger;
  font-weight: 500;
  padding: 40px;
  font-family: sans-serif;
  list-style: none;
  gap: 90px;
  flex-wrap: wrap;
}
.class_navbar li a {
  text-decoration: none;
  color: black;
}
.class_navbar li:hover {
  transform: scale(1.5);
}

.class_profile img {
  border: 1px solid gray;
  border-radius: 200px;
  object-fit: contain;
  width: 25em;
  height: 400px;
  margin-right: 90px;
  cursor: not-allowed;
  -webkit-box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
}
.class_container2 {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  position: relative;
  right: 60px;
  flex-wrap: wrap;
}
.text_box {
  width: 35%;
  font-family: sans-serif;
  word-spacing: 2px;
  letter-spacing: 2px;
}
.user_name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 50px;
  margin-block: 15px;
}
.user_bio {
  line-height: 30px;
}
.class_button {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.button1 {
  padding: 20px 120px;
  border-radius: 30px;
  background-color: white;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border: 1px solid rgb(116, 108, 108);
}
.button2 {
  padding: 20px 80px;
  border-radius: 30px;
  background-color: white;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border: 1px solid rgb(116, 108, 108);
}
.button1:hover {
  background-color: rgb(79, 79, 191);
  cursor: pointer;
}
.button2:hover {
  cursor: pointer;
  background-color: rgb(79, 79, 191);
}
.class_container3 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
  flex-wrap: wrap;
}
.class_bio {
  width: 40%;
  height: 400px;
  margin-top: 10px;
}
.class_line {
  border: 1px solid rgb(0, 136, 186);
  width: 50px;
}
.class_bio1 {
  width: 40%;
  height: 400px;
  margin-top: 80px;
}

.class_img1 img {
  width: 110px;
  height: 90px;
  margin: 20px 20px;
}
.class_heading {
  font-family: sans-serif;
  font-weight: bolder;
  margin-bottom: 12px;
}
.class_para1 {
  display: flex;
}
.class_para2 {
  display: flex;
}
.class_webdesign {
  margin-bottom: 70px;
  font-family: sans-serif;
  word-spacing: 3px;
  line-height: 22px;
}
.class_container1 .toggle_btn {
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  display: none;
  margin: 12px;
}
.dropdown_menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  font-size: large;
  backdrop-filter: blur(15px);
  background: rgb(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  display: none;
  height: 0;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 240px;
  width: 200px;
}
.dropdown_menu li a {
  text-decoration: none;
  font-family: serif;
}
.dropdown_menu li {
  padding: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.dropdown_menu li:hover {
  background-color: white;
  color: mediumvioletred;
}
@media screen and (max-width: 320px) {
  .class_gmail {
    width: 13%;
    height: 43px;
  }
  .class_symbol {
    padding: 12px 24px;
    padding: 7px 13px;
    font-size: 20px;
  }
  .class_navbar {
    gap: 35px;
    flex-direction: column;
  }
  .class_container1 .class_navbar {
    display: none;
  }
  .class_container1 .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
  .class_profile img {
    width: 14em;
    height: 224px;
    padding: 4px;
    position: relative;
    left: 41px;
  }
  .user_name {
    font-size: 26px;
    margin-block: 12px;
  }
  .user_bio {
    line-height: 24px;
    font-size: smaller;
    width: 299px;
  }
  .class_button {
    flex-direction: column;
  }
  .button1 {
    padding: 0px 100px;
    border-radius: 41px;
  }
  .button2 {
    padding: 9px 63px;
    margin-inline: 38px;
  }
  .class_container2 {
    margin-top: 38px;
    right: 0px;
    justify-content: flex-start;
  }
  .text_box {
    margin-top: 25px;
    padding: 14px;
  }
  .class_container3 {
    margin-top: 21px;
    display: block;
    text-wrap: wrap;
  }
  .class_bio {
    width: auto;
    height: auto;
  }
  .class_bio h1 {
    font-size: 20px;
  }
  .class_bio1 {
    margin-top: 0px;
  }
  .class_para1 {
    display: inline;
  }
  .class_para2 {
    display: inline;
  }
  .class_webdesign {
    width: 315px;
    height: auto;
    padding: 10px;
    margin-bottom: 0px;
  }
}
